@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background-color: #d0e2f2;
}

img {
    width: 100%;
}

h1 {
    font-size: 1.802rem;
    margin: 0;
    color: #fff;
    text-align: center;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 1.602rem;
    padding: 1rem 1rem 0;
    margin: 0;
    text-align: center;
}

.masthead {
    padding: 1rem;
    background-color: #1e354c;
    /* background-color: #364559; */
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 0 0.75rem #000;
}

.header {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo {
    max-width: 7rem;
}

.search {
    padding-top: 1rem;
    display: flex;
    gap: 0.25rem;
    text-align: center;
    justify-content: center;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button:hover {
    transform: scale(1.2);
}

.material-icons {
    color: #fff;
}

#search {
    width: 100%;
    max-width: 25em;
    font-family: 'Montserrat', sans-serif;
    padding: 0.35rem;
    border-radius: 0.25rem;
    border: none;
}

#search:focus {
    outline: 0.2rem solid #66b3ff;
}

::placeholder {
    font-family: 'Montserrat', sans-serif;
    padding: 0.25rem;
    text-align: center;
}

.contentArea {
    width: 100%;
    max-width: 90em;
    margin: 0 auto;
    padding-top: 9rem;
    z-index: -100;
}

.keyword {
    color: #ff6666;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding: 1rem;
}

.card {
    border: 0.125rem solid #1e354c;
    /* background-color: #335c85; */
    background-color: #4D5D73;
    color: #fff;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-bottom: 1rem;
    box-shadow: 0 0 0.35rem #000;
}

.card img {
    border-bottom: 0.125rem solid #1e354c;
    border-top-left-radius: 0.45rem;
    border-top-right-radius: 0.45rem;
    width: 100%;
}

.cards p {
    margin: 0;
    padding-bottom: 1rem;
    text-align: center;
}

.title {
    padding-top: 0.5rem;
}

@media only screen and (min-width: 45em) {
    .header {
        gap: 2rem;
    }
    .logo {
        max-width: 9rem;
    }

    h1 {
        font-size: 2.488rem;
    }

    h2 {
        font-size: 2.074rem;
    }

    #search {
        font-size: 1.1rem;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem
    }

    .cards .card {
        height: 100%;
    }

    .card {
        margin-bottom: 0;
    }
}

@media only screen and (min-width: 60em) {
    .header {
        gap: 4rem;
    }
    .logo {
        max-width: 10rem;
    }

    h1 {
        font-size: 3.052rem;
    }

    h2 {
        font-size: 2.441rem;
        padding-bottom: 0.5rem;
    }

    .contentArea {
        padding-top: 9.5rem;
    }

    #search {
        font-size: 1.2rem;
    }

    p {
        font-size: 1.1rem;
    }

    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}